.chatApp {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  width: 45vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  border-left: 2px solid #3b5998;
  border-right: 2px solid #3b5998;
  transition: all 0.5s ease-in;
}
.header {
  position: absolute;
  background-color: #3b5998;
  color: white;
  width: 100%;
  height: 80px;
  text-align: center;
  font-size: 0.9rem;
  border: 2px solid #3b5998;
}
.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80%;
  margin-top: 80px;
  margin-bottom: 0;
  overflow-y: scroll;
  background-image: url("../../assets/chat-background.jpg");
  background-position: center;
  background-size: cover;
}
.messages::-webkit-scrollbar {
  display: none;
}

.message {
  display: flex;
  align-items: flex-start;
  background: url("../../assets/chat-background.jpg");
  backdrop-filter: blur(8px);
}
.myMessage {
  width: 20vw;
  background-color:  #058ED9;
  color: #fff;
  margin: 10px 5px 10px auto;
  border-radius: 10px 10px 0px 10px;
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
}
.othersMessage {
  width: 20vw;
  background-color: #fff;
  color: #383838;
  justify-content: right;
  margin: 10px auto 10px 10px;
  border-radius: 10px 10px 10px 0px;
  padding: 10px;
  font-size: 1.3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.myMessage span {
  color: #000;
  font-size: 1.2rem;
}

.othersMessage span {
  color: #0037ff;
  font-size: 1.2rem;
}

.user {
  font-weight: bold;
  margin-right: 10px;
  color: #333;
}

.newMessageForm {
  background-color: #fff;
  padding: 20px 0;
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.newMessageInput {
  width: 250px;
  border: 2px solid #3b5998;
  border-radius: 20px;
  background-color: transparent;
  padding: 12px;
}
.sendButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  color: #3b5998;
}

.space {
  height: 20vh;
}

@media (max-width:880px) {
  .chatApp {
    width: 80vw;
  }
}

@media (max-width:550px) {
  .chatApp {
    width: 99vw;
  }
  .header {
    font-size: 0.7rem;
  }

  .othersMessage , .myMessage {
    font-size: 1.1rem ;
    font-weight: 500;
    width: 44vw;
  }
  .myMessage span , .othersMessage span {
    font-size: 1.1rem ;
    font-weight: 500;
  }
}
