body {
  padding: 0;
  margin: 0;
}
.container {
  
}
.App {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-header {
  text-align: center;
  background-color: #3b5998;
  color: white;
  width: 100%;
}

.app-container {
  margin-top: 50px;
}

.room {
  display: flex;
  flex-direction: column;
  margin: 80px auto;
  align-items: center;
}

.room label {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.room input {
  width: 200px;
  height: 30px;
  border: 2px solid #3b5998;
  border-radius: 6px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}
.room button {
  width: 210px;
  height: 40px;
  border: none;
  border-radius: 6px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
  background-color: #3b5998;
  color: white;
  cursor: pointer;
}
 
.sign-out {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  position:fixed;
  right: 20px;
  bottom: -20px;
  transition: all 1s ease-in;
}

.sign-out button {
  width: 45px;
  height: 45px;
  border: none;
  background-color: #3b5998;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  color: aliceblue;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden; 
}

.sign-out img {
  width: 30px;
}

@media (max-width : 550px) {
  .sign-out {
    right: 30px;
    top: -5px;
  }
  .sign-out button {
    background-color: #FF5714;
    width: 30px;
    height: 30px;
  }
  .sign-out img {
    width: 20px;
  }
}